@import "compass/css3";
$imagepath:'../images';
body:after{content: url('#{$imagepath}/banner.jpg') url(#{$imagepath}/bgprz.png) url('#{$imagepath}/background.jpg') url('#{$imagepath}/lot_machine.png') url('#{$imagepath}/lucky.png') url('#{$imagepath}/playbtn.png'); display: none;}

.btnrow{
	margin: -1em auto 0;
	position: relative;
	z-index: 9999;
}
.playbtn, .downbtn{
	width: 70%;
}
.packrow{
	text-align: right;
	position: relative;
	z-index: 9999;
	.packbtn{
		width: 33.3%;
		margin:0 4% 1em 0;
	}
}

.rule{
	@include border-radius(2em);
	margin: 0 1em;
	background-image: url("#{$imagepath}/snow.jpg");
	/*background-color: rgb( 245, 237, 228 );*/
	-webkit-background-size: cover;
	background-size: cover;
	padding: 1.4em 0 2em;
}
.tit{
	width: 90%;
	margin: auto;
	font-size: 1.28em;
	line-height: 2.1;
	background-color: #fff;
	color: #7e4300;
	text-align: center;
	border: solid 2px #ede3d9;
	background-color: #fbf8f5;
	-webkit-border-radius: 2.15em;
	-moz-border-radius: 2.15em;
	border-radius: 2.15em;
	position: relative;
}

.smile{
	display: inline-block;
	width: 3.61em;
	height: 3.75em;
	position: absolute;
	left: 0;
	top: -1.75em;
	background-image: url("#{$imagepath}/smile.png");
	-webkit-background-size: cover;
	background-size: cover;
}
.tit-txt{
	
}

.con{
	width: 90%;
	margin: .5em auto;
	font-family: simHei;
}
.con p{
	line-height: 1.6;
	padding: .3em 0;
}

.pack{
	padding: .5em;
	background-image: url("#{$imagepath}/snow.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
.pack:after{
	content: url('#{$imagepath}/egg_golden.png') url('#{$imagepath}/egg_blue.png') url('#{$imagepath}/egg_colorful.png') url('#{$imagepath}/gift_red.png') url('#{$imagepath}/gift_blue.png') url('#{$imagepath}/gift_purple.png') url('#{$imagepath}/hammer.png') url('#{$imagepath}/medal.png') url('#{$imagepath}/credits_20.png') url('#{$imagepath}/credits_5.png')  url('#{$imagepath}/egg_empty.png');
	display: none;
}
.pack-tit{
	height: 3em;
	line-height: 3;
}
.bagico{
	float: left;
	height: 100%;
}
.pack-tit-txt{
	float: left;
	display: inline-block;
	font-size: 1.28em;
	line-height: 2.33;
	color: #432300;
}
.backhome{
	float: right;
	display: inline-block;
	width: 7em;
	height: 1.7em;
	line-height: 1.9;
	text-align: center;
	-webkit-border-radius: .85em;
	-moz-border-radius: .85em;
	border-radius: .85em;
	background-color: #ff9000;
	color: #fff;
	margin-top: .65em;
	padding: 0 .2em;
}
.przlist{
	overflow: hidden;
	padding: .5em 0;
}
.przlist-item{
	position: relative;
	float: left;
	width: 100%;
	padding: .75em 0;
	border: 1px solid #e6dace;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: .7em;
	overflow: hidden;
	background-color: #fffaf4;
}
.prz-img, .prz-ico{
	float: left;
	width: 5em;
	height: 5em;
	margin: 0 .75em 0 .75em;
	background: url('#{$imagepath}/egg_empty.png') 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.prz-ico{
	float: none;
	margin: 0 auto;
}
.egg_golden .prz-img{
	background-image: url('#{$imagepath}/egg_golden.png');
}
.egg_blue .prz-img{
	background-image: url('#{$imagepath}/egg_blue.png');
}
.egg_colorful .prz-img{
	background-image: url('#{$imagepath}/egg_colorful.png');
}
.hammer .prz-img{
	background-image: url('#{$imagepath}/hammer.png');
}
.medal .prz-img{
	background-image: url('#{$imagepath}/medal.png');
}
.gift .prz-img, .gift .prz-gift1, .giftshow .prz-gift1{
	background-image: url('#{$imagepath}/gift_red.png');
}
.gift .prz-gift2, .giftshow .prz-gift2{
	background-image: url('#{$imagepath}/gift_purple.png');
}
.gift .prz-gift3, .giftshow .prz-gift3{
	background-image: url('#{$imagepath}/gift_blue.png');
}
.gift .prz-gift4, .giftshow .prz-gift4{
	background-image: url('#{$imagepath}/prz_goods1.png');
}
.gift .prz-gift5, .giftshow .prz-gift5{
	background-image: url('#{$imagepath}/prz_goods2.png');
}
.giftshow .prz-gift4, .giftshow .prz-gift5{
	margin: 2em auto;
}
.credits .prz-img{
	background-image: url('#{$imagepath}/credits.png');
}
.credits .prz-credits1{
	background-image: url('#{$imagepath}/credits_20.png');
}
.credits .prz-credits2{
	background-image: url('#{$imagepath}/credits_5.png');
}
.prz-des{
	line-height: 1.3;
}
/*.item .prz-des{
	padding: .5em 0;
	line-height: 1.5;
}*/
.none .prz-des{
	text-align: center;
}
.none .prz-tit{
	color: #666;
	margin-top: .3em;
}
.prz-tit{
	font-size: 1.143em;
	color: #432300;
}
.prz-date{
	font-size: .724em;
	color: #d1c1b0;
}
.prz-txt{
	color: #9e8c7a;
	padding-right: 30%;
}
.prz-left{
	float: left;
	width: 100%;
}
.prz-rgt{
	position: absolute;
	right: .55em;
	top: .75em;
}
.prz-giftcode{
	display: none;
}
.overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2);
	z-index: 100;
}
.giftshow{
	width: 16em;
	height: 17em;
	padding: 1em 2em;
	background-color: #fff;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -10em;
	margin-top: -9.5em;
}


.giftshow .row{
	margin-bottom: .5em;
}
.giftshow .name{
	color: #432300;
	font-size: 1.142em;
	margin: .5em 0;
}
.giftshow .ico{
	width: 5em;
	height: 5em;
}
.giftshow p.text{
	text-align: left;
	line-height: 1.1;
	padding-top: .5em;
	color: #666;
}
.giftshow .confirm{
	display: inline-block;
	font-size: 1.142em;
	color: #fff;
	padding: 0 4em;
	margin-top: .5em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	background-color: #92c200;
	line-height: 2;
}
.giftclose{
	position: absolute;
	color: #cdcdcd;
	font-size: 2em;
	line-height: 1.1;
	top: .2em;
	right: .2em;
	cursor: pointer;
}

.popup{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -11em;
	margin-top: -6em;
	width: 22em;
	height: 12px;
	text-align: center;
}
.popup img{
	width: 100%;
}
.popup-inner{
	position: absolute;
	z-index: 11;
	top: 4.5em;
	left: 0;
	width: 100%;
	line-height: 1.8;
	color: #fff;
}
.popup-inner .confirm{
	display: inline-block;
	background-color: #9050df;
	color: #fff;
	line-height: 1.5;
	padding: 0 2em;
	text-align: center;
	margin-top: .3em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	border-radius: .75em;
}
.popup-inner .giftclose{
	right: .5em;
	top: -.3em;
}
.countdown{
	margin-top: .5em;
	background-color: #fff;
	padding: .3em;
	-webkit-border-radius: .7em;
	-moz-border-radius: .7em;
	border-radius: .7em;
	border: 1px solid #f1f1f1;
}
.countdown .txt{
	color: #735f49;
	font-size: .714em;
}
.countdown .time{
	color: #f00;
	font-size: .857em;
}
.eggopen{
	display: inline-block;
	font-size: .857em;
	color: #fff;
	line-height: 2.5;
	padding: 0 .5em;
	margin-top: 1.7em;
	-webkit-border-radius: 1.25em;
	-moz-border-radius: 1.25em;
	border-radius: 1.25em;
	text-align: center;
	background-color: #e20000;
}
.giftevent .view{
	display: inline-block;
	color: #fff;
	width: 2.85em;
	height: 2.85em;
	line-height: 2.95;
	margin-top: 1em;
	-webkit-border-radius: 1.425em;
	-moz-border-radius: 1.425em;
	border-radius: 1.425em;
	text-align: center;
	background-color: #f4ac00;	
}
/*.item .prz-left{
	width: 100%;
}*/

.item .prz-txt{
	padding-right: 1em;
}
.label{
	position: absolute;
	left: -2.8em;
	top: 1.1em;
	z-index: 10;
	width: 7em;
	height: 1.36em;
	line-height: 1.46;
	text-align: center;
	background-color: #f00;
	color: #fff;
	font-size: .785em;
	padding: 0 1em;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	text-rendering: optimizeLegibility;
}
.gobtn{
	display: inline-block;
	font-size: 1.285em;
	color: #fff;
	padding: 0 2em;
	background-color: #e20000;
	line-height: 1.66;
	-webkit-border-radius: .83em;
	-moz-border-radius: .83em;
	border-radius: .83em;
	margin: .3em auto 0;
}

.pack_empty{
	width: 48%;
	margin: 5em 0 0 -10%;
}
.home{
	display: inline-block;
	color: #9d8161;
	background-color: #fff;
	text-align: center;
	font-size: 1.56em;
	line-height: 2.2;
	border: 1px solid #d7c8b6;
	padding: 0 2em;
	-webkit-border-radius: 1.1em;
	-moz-border-radius: 1.1em;
	border-radius: 1.1em;
	margin-top: 2em;
}

.lot{
	background: #44136e url('#{$imagepath}/background.jpg') 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	overflow: hidden;
}
.lot:after{
	content: url('#{$imagepath}/failure.png') url('#{$imagepath}/success.png') url('#{$imagepath}/slot1.png') url('#{$imagepath}/slot2.png') url('#{$imagepath}/slot3.png') url('#{$imagepath}/slot4.png') url('#{$imagepath}/slot5.png') url('#{$imagepath}/slot6.png') url('#{$imagepath}/slot7.png') url('#{$imagepath}/slot8.png'); 
	display: none;
}

.lotarea{
}

.lot-btm{
	height: 3.5em;
	padding: 6em 1.5em 2em .5em;
}
.lot-btm a{
	display: inline-block;
	height: 100%;
}
.lot-btm-img{
	display: inline-block;
	height: 100%;
	width: auto;
}

.lot-res{
	text-align: center;
	overflow: hidden;
}
.stat{
	margin: 7em auto 0;
	width: 45em;
	height: 25em;
	background: url('#{$imagepath}/bgprz.png') 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.stat img{
	width: 100%;
	margin-top: -8em;
}

.prize{
	color: #fff;
	margin-top: -1em;
	line-height: 1.7;
}
.prize .title{
	font-size: 1.428em;
}
.lot-machine{
	text-align: center;
	position: relative;

/*	background: #431170 url('#{$imagepath}/lot_machine.png') 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;*/
}
.mbg{

}
.lot-machine img{

}
.creditsleft{
	position: absolute;
	width: 100%;
	color: #ffee8d;
	z-index: 10;
	top: 4em;
}
.cred{
	color: #f00;
}
.lotarea-txt{
	color: #fff;
}
.timesleft{
	padding: 0 .3em;
	font-family: Arial,tahoma;
	font-weight: bold;
}
.prz-list{
	position: absolute;
	width: 100%;
	top: 19em;
	z-index: 10;
	left: 50%;
	margin-left: -15.7em;
}
.machine{
	float: left;
	width: 7.85em;
	height: 6.45em;
	margin-right: .3em;
	text-align: center;
	overflow: hidden;
}
.slotbtn{
	position: absolute;
	width: 6.5em;
	height: 16em;
	top: 14em;
	z-index: 10;
	left: 50%;
	margin-left: 14.5em;
	cursor: pointer;
	-webkit-border-radius: 3.25em;
	-moz-border-radius: 3.25em;
	border-radius: 3.25em;
}
.contactbtm{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	line-height: 2;
	background-color: rgba(0,0,0,.5);
	color: #fff;
}
.contactbtm .words{
	padding: 0 1em;
}
.snowFall {
	position: absolute;
	width: 100%;
	z-index: 9;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
@media screen and (min-width: 320px)  and (max-width: 359px){
	/*iphone 4*/
	body{
		font-size: 12px;
	}
	.stat{
		margin: 4.5em auto .3em;
		width: 20.5em;
		height: 10.5em;
	}
	.stat img{
		width: 100%;
		margin-top: -4em;
	}
	.lot-btm{
		height: 3.5em;
		padding: 1.5em 1.5em 1.5em .5em;
	}
	.mbg img{
		width: 100%;

	}
	.lotarea-txt{
		margin-top: -.5em;
	}
	.creditsleft{
		top: 1.65em;
	}
	.prz-list{
		top: 9.6em;
		margin-left: -7.5em;
	}
	.prz-txt{
		padding-right: 24%;
	}
	.machine{
		width: 3.2em;
		height: 3.2em;
		margin-right: .85em;
	}
	.slot img{
		width: 100%;
	}
	.slotbtn{
		width: 3.5em;
		height: 8em;
		top: 7em;
		margin-left: 6.8em;
		-webkit-border-radius: 1.75em;
		-moz-border-radius: 1.75em;
		border-radius: 1.75em;
	}
}
@media screen and (min-width: 360px) and (max-width: 374px) {
	.stat{
		margin: 4.5em auto 0;
		width: 20.5em;
		height: 10.5em;
	}
	.stat img{
		width: 100%;
		margin-top: -4em;
	}
	.lot-btm{
		height: 3.5em;
		padding: 1.5em 1.5em 1.5em .5em;
	}
	.mbg img{
		width: 100%;
	}
	.lotarea-txt{
		margin-top: -.5em;
	}
	.creditsleft{
		top: 1.65em;
	}
	.prz-list{
		top: 9.2em;
		margin-left: -7.3em;
	}
	.prz-txt{
		padding-right: 24%;
	}
	.machine{
		width: 3.2em;
		height: 3em;
		margin-right: .7em;
	}
	.slot img{
		width: 100%;
	}
	.slotbtn{
		width: 3.5em;
		height: 8em;
		top: 7em;
		margin-left: 6.8em;
		-webkit-border-radius: 1.75em;
		-moz-border-radius: 1.75em;
		border-radius: 1.75em;
	}
}
@media screen and (min-width: 375px) and (max-width: 639px) {
	.stat{
		margin: 5em auto 0;
		width: 20.5em;
		height: 10.5em;
	}
	.stat img{
		width: 100%;
		margin-top: -4em;
	}
	.lot-btm{
		height: 3.5em;
		padding: 1.5em 1.5em 1.5em .5em;
	}
	.mbg img{
		width: 100%;
	}
	.lotarea-txt{
		margin-top: -.5em;
	}
	.creditsleft{
		top: 1.65em;
	}
	.prz-list{
		top: 9.3em;
		margin-left: -7.7em;
	}
	.prz-txt{
		padding-right: 22%;
	}
	.machine{
		width: 3.75em;
		height: 3.55em;
	}
	.slot img{
		width: 100%;
	}
	.slotbtn{
		width: 3.5em;
		height: 8em;
		top: 7.2em;
		margin-left: 7.2em;
		-webkit-border-radius: 1.75em;
		-moz-border-radius: 1.75em;
		border-radius: 1.75em;
	}
}
@media screen and (min-width: 640px) and (max-width: 749px) {
	.stat{
		margin: 5em auto 0;
		width: 22.5em;
		height: 12.5em;
	}
	.stat img{
		width: 100%;
		margin-top: -4em;
	}
	.lot-btm{
		height: 3.5em;
		padding: 1.5em 1.5em 1.5em .5em;
	}

}

@media only screen and (-webkit-min-device-pixel-ratio: 3)  and (max-width: 360px){
	/*mi 3 devicePixelRatio=3 deviceWidth=360*/
	.stat{
		margin: 4.5em auto 0;
		width: 20.5em;
		height: 10.5em;
	}
	.stat img{
		width: 100%;
		margin-top: -4em;
	}
	.lot-btm{
		height: 3.5em;
		padding: 1.5em 1.5em 1.5em .5em;
	}
	.mbg img{
		width: 100%;

	}
	.lotarea-txt{
		margin-top: -.5em;
	}
	.creditsleft{
		top: 1.55em;
	}
	.prz-list{
		top: 9em;
		margin-left: -7.4em;
	}
	.prz-txt{
		padding-right: 22%;
	}
	.machine{
		width: 3.45em;
		height: 3.25em;
		margin-right: .45em;
	}
	.slot img{
		width: 100%;
	}
	.slotbtn{
		width: 3.5em;
		height: 8em;
		top: 7em;
		margin-left: 6.5em;
		-webkit-border-radius: 1.75em;
		-moz-border-radius: 1.75em;
		border-radius: 1.75em;
	}	
}

@media only screen and (-webkit-min-device-pixel-ratio: 3)  and (min-width: 414px){
	/*iphone 6 plus*/
	.stat{
		margin: 4.5em auto 0;
		width: 22.5em;
		height: 12.5em;
	}
	.stat img{
		width: 100%;
		margin-top: -4em;
	}
	.lot-btm{
		height: 3.5em;
		padding: 1.5em 1.5em 1.5em .5em;
	}
	.mbg img{
		width: 100%;

	}
	.lotarea-txt{
		margin-top: -.5em;
	}
	.creditsleft{
		top: 1.95em;
	}
	.prz-list{
		top: 10.5em;
		margin-left: -8.3em;
	}
	.prz-txt{
		padding-right: 22%;
	}
	.machine{
		width: 3.6em;
		height: 3.35em;
		margin-right: .85em;
	}
	.slot img{
		width: 100%;
	}
	.slotbtn{
		width: 3.5em;
		height: 8em;
		top: 8.3em;
		margin-left: 8.1em;
		-webkit-border-radius: 1.75em;
		-moz-border-radius: 1.75em;
		border-radius: 1.75em;
	}	
}
@media only screen and (-webkit-max-device-pixel-ratio: 1.5)  and (max-width: 360px){
	/**/
	body{
		font-size: 10px;
	}
	.stat{
		margin: 3em auto 0;
		width: 17.5em;
		height: 9.5em;
	}
	.prize{
		margin-top: 0;
	}
	.stat img{
		width: 100%;
		margin-top: -4em;
	}
	.lot-btm{
		height: 2.5em;
		padding: 1.5em 1.5em 1.5em .5em;
	}
	.mbg img{
		width: 100%;

	}
	.lotarea-txt{
		margin-top: -.5em;
	}
	.creditsleft{
		top: .95em;
	}
	.prz-list{
		top: 6.4em;
		margin-left: -5em;
	}
	.prz-txt{
		padding-right: 22%;
	}
	.machine{
		width: 2em;
		height: 2em;
		margin-right: .7em;
	}
	.slot img{
		width: 100%;
	}
	.slotbtn{
		width: 2.5em;
		height: 5em;
		top: 4.8em;
		margin-left: 4.6em;
		-webkit-border-radius: 1.25em;
		-moz-border-radius: 1.25em;
		border-radius: 1.25em;
	}	
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 640px){
	.popup{
		margin-left: -15em;
		margin-top: -8em;
		width: 30em;
		height: 18px;

	}
	.popup-inner{
		top: 5.8em;
		line-height: 2;
	}
	.popup-inner .confirm{
		margin-top: 1em;
	}
	.popup-inner .giftclose{
		right: 1.5em;
	}

}
@media screen and (-webkit-max-device-pixel-ratio: 1.5) and (max-width: 320px){
	.popup{


	}
	.popup-inner{
		top: 4em;
		line-height: 1.5;
	}
	.popup-inner .confirm{
		margin-top: 1em;
	}
	.popup-inner .giftclose{
		right: .8em;
	}
	.prz-list{
		top: 9.7em;
		margin-left: -7.35em;
	}
	.machine{
		width: 3em;
		height: 3em;
		margin-right: 1em;
	}
	.stat{
		width: 23em;
		height: 12.5em;
	}
	.creditsleft{
		top: 1.65em;
	}
	.slotbtn{
		height: 8em;
		width: 3.5em;
		top: 6.8em;
		margin-left: 7em;
	}
}
/*@media screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 320px){
	.popup{


	}
	.popup-inner{
		top: 4em;
		line-height: 1.5;
	}
	.popup-inner .confirm{
		margin-top: 1em;
	}
	.popup-inner .giftclose{
		right: .8em;
	}
	.prz-list{
		top: 9.7em;
		margin-left: -7.35em;
	}
	.machine{
		width: 3em;
		height: 3em;
		margin-right: 1em;
	}
	.stat{
		width: 23em;
		height: 12.5em;
	}
	.creditsleft{
		top: 1.65em;
	}
	.slotbtn{
		height: 8em;
		width: 3.5em;
		top: 6.8em;
		margin-left: 7em;
	}
}*/