/* line 1, ../sass/base.scss */
html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, legend, button, input, textarea, form, th, td {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/base.scss */
body {
  font: 14px/1.5 simHei, "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

/* line 6, ../sass/base.scss */
ul, li {
  list-style: none;
}

/* line 7, ../sass/base.scss */
a {
  text-decoration: none;
}

/* line 8, ../sass/base.scss */
a:focus, input[type=button], input[type=submit] {
  outline: none;
}

/* line 9, ../sass/base.scss */
img {
  vertical-align: middle;
  border: none;
  -ms-interpolation-mode: bicubic;
  -webkit-user-select: none;
}

/* line 10, ../sass/base.scss */
input {
  font-size: 100%;
  vertical-align: middle;
  outline: none;
}

/* line 11, ../sass/base.scss */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 12, ../sass/base.scss */
input:focus:-moz-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 13, ../sass/base.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 15, ../sass/base.scss */
.white {
  background-color: #fff;
}

/* line 18, ../sass/base.scss */
.yellow {
  background-color: #fff8e4;
  border: 1px solid #ebd199;
}

/* line 22, ../sass/base.scss */
.wrapper {
  background-color: #fff;
  padding: 0 0 2em;
}

/* line 26, ../sass/base.scss */
.w100 {
  width: 100%;
}

/* line 30, ../sass/base.scss */
.tc {
  text-align: center;
}

/* line 33, ../sass/base.scss */
.fl {
  float: left;
}

/* line 36, ../sass/base.scss */
.fr {
  float: right;
}

/* line 42, ../sass/base.scss */
.hide {
  display: none;
}
